# RQ4

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

from pylab import rcParams
import seaborn as sb

import scipy 
from scipy.stats import spearmanr

In [ ]:
df = pd.read_csv('taxi_zone_lookup.csv', usecols = ['LocationID','Borough'])
df

# January

In [ ]:
date_columns = ['tpep_pickup_datetime', 'tpep_dropoff_datetime']
df1 = pd.read_csv('yellow_tripdata_2018-01.csv', usecols = ['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'payment_type','PULocationID'], parse_dates = date_columns)
df1

In [ ]:
# consider only 2018 for pickup datetime

keep_jan = keep_jan[keep_jan['tpep_pickup_datetime'].dt.year == 2018]

In [ ]:
# consider only january for pickup datetime

keep_jan = keep_jan[keep_jan['tpep_pickup_datetime'].dt.month == 1]

In [ ]:
# same above for dropoff datetime

keep_jan = keep_jan[keep_jan['tpep_dropoff_datetime'].dt.year == 2018]
keep_jan = keep_jan[keep_jan['tpep_dropoff_datetime'].dt.month == 1]

In [ ]:
# Merging the 2 tables by location id key to get borough.

final_jan = df.set_index('LocationID').join(keep_jan.set_index('PULocationID'))
del keep_jan
final_jan

In [ ]:
#Cleaning: Removing all the values containing unknown

final_jan = final_jan[final_jan.Borough != 'Unknown']
final_jan

In [ ]:
#What is the most common way of payments

counts1 = final_jan['payment_type'].value_counts().to_dict()
counts1

#Credit Card(5995076)

In [ ]:
final_jan['COUNTER'] = 1
final_jan

In [ ]:
#Discover the way payments are executed in each borough
#initially, set that counter to 1.
group_data = final_jan.groupby(['payment_type','Borough']).sum() #sum function
print(group_data)

In [ ]:
group_data.columns = ["NY: n° of payments"]
barplot = group_data.plot(use_index = True, y = "NY: n° of payments", kind = "bar", figsize = (15, 8))

In [ ]:
group_data = group_data.groupby(['Borough'])

# January: EWR

In [ ]:
group_ewr = group_data.get_group('EWR')
group_ewr

In [ ]:
group_ewr.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_ewr.columns = ["EWR: n° of payments"]
group_ewr

In [ ]:
barplot = group_ewr.plot(use_index = True, y = "EWR: n° of payments", kind = "bar", figsize = (8, 4))

# January: Queens

In [ ]:
group_queens = group_data.get_group('Queens')
group_queens

In [ ]:
group_queens.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_queens.columns = ["Queens: n° of payments"]
group_queens

In [ ]:
barplot = group_queens.plot(use_index = True, y = "Queens: n° of payments", kind = "bar", figsize = (8, 4))

# January: Manhattan

In [ ]:
group_manhattan = group_data.get_group('Manhattan')
group_manhattan

In [ ]:
group_manhattan.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_manhattan.columns = ["Manhattan: n° of payments"]
group_manhattan

In [ ]:
barplot = group_manhattan.plot(use_index = True, y = "Manhattan: n° of payments", kind = "bar", figsize = (8, 4))

# January: Staten Island

In [ ]:
group_statenisland = group_data.get_group('Staten Island')
group_statenisland

In [ ]:
group_statenisland.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_statenisland.columns = ["Staten Island: n° of payments"]
group_statenisland

In [ ]:
barplot = group_statenisland.plot(use_index = True, y = "Staten Island: n° of payments", kind = "bar", figsize = (8, 4))

# January: Brooklyn

In [ ]:
group_brooklyn = group_data.get_group('Brooklyn')
group_brooklyn

In [ ]:
group_brooklyn.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_brooklyn.columns = ["Brooklyn: n° of payments"]
group_brooklyn

In [ ]:
barplot = group_brooklyn.plot(use_index = True, y = "Brooklyn: n° of payments", kind = "bar", figsize = (8, 4))

# January: Bronx

In [ ]:
group_bronx = group_data.get_group('Bronx')
group_bronx

In [ ]:
group_bronx.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_bronx.columns = ["Bronx: n° of payments"]
group_bronx

In [ ]:
barplot = group_bronx.plot(use_index = True, y = "Bronx: n° of payments", kind = "bar", figsize = (8, 4))

In [ ]:
#To check the relationship b/w Borough & payment type

pay_typ=final_jan['payment_type']
borough=final_jan['Borough']

# January: Chi^2 Test

In [ ]:
table = pd.crosstab(pay_typ,borough)
print(table)

In [ ]:
from scipy.stats import chi2_contingency
table.values

In [ ]:
#Chi-square test

table = pd.crosstab(pay_typ,borough)

from scipy.stats import chi2_contingency

chi2, p , dof, expected=chi2_contingency(table.values)

print('Chi-square Statistics: ', (chi2,p))

### The p-values is less than 0.05, so the null hypothesis is rejected. The payment method is correlated to the borough, in the given dataset.

# February

In [ ]:
df2 = pd.read_csv('yellow_tripdata_2018-02.csv', usecols = ['payment_type','PULocationID'])
df2

In [ ]:
# Merging the 2 tables by location id key to get borough.

final=df.set_index('PULocationID').join(df2.set_index('LocationID'))
del df2
final

In [ ]:
#Cleaning: Removing all the values containing unknown

final_feb = final_feb[final_feb.Borough != 'Unknown']
final_feb

In [ ]:
#What is the most common way of payments

counts1 = final_feb['payment_type'].value_counts().to_dict()
counts1

#Credit Card(5996737)

In [ ]:
final_feb['COUNTER'] = 1
final_feb

In [ ]:
#Discover the way payments are executed in each borough
#initially, set that counter to 1.
group_data = final_feb.groupby(['payment_type','Borough']).sum() #sum function
print(group_data)

In [ ]:
group_data.columns = ["NY: n° of payments"]
barplot = group_data.plot(use_index = True, y = "NY: n° of payments", kind = "bar", figsize = (15, 8))

In [ ]:
group_data = group_data.groupby(['Borough'])

# February: EWR

In [ ]:
group_ewr = group_data.get_group('EWR')
group_ewr

In [ ]:
group_ewr.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_ewr.columns = ["EWR: n° of payments"]
group_ewr

In [ ]:
barplot = group_ewr.plot(use_index = True, y = "EWR: n° of payments", kind = "bar", figsize = (8, 4))

# February: Queens

In [ ]:
group_queens = group_data.get_group('Queens')
group_queens

In [ ]:
group_queens.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_queens.columns = ["Queens: n° of payments"]
group_queens

In [ ]:
barplot = group_queens.plot(use_index = True, y = "Queens: n° of payments", kind = "bar", figsize = (8, 4))

# February: Manhattan

In [ ]:
group_manhattan = group_data.get_group('Manhattan')
group_manhattan

In [ ]:
group_manhattan.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_manhattan.columns = ["Manhattan: n° of payments"]
group_manhattan

In [ ]:
barplot = group_manhattan.plot(use_index = True, y = "Manhattan: n° of payments", kind = "bar", figsize = (8, 4))

# February: Staten Island

In [ ]:
group_statenisland = group_data.get_group('Staten Island')
group_statenisland

In [ ]:
group_statenisland.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_statenisland.columns = ["Staten Island: n° of payments"]
group_statenisland

In [ ]:
barplot = group_statenisland.plot(use_index = True, y = "Staten Island: n° of payments", kind = "bar", figsize = (8, 4))

# February: Brooklyn

In [ ]:
group_brooklyn = group_data.get_group('Brooklyn')
group_brooklyn

In [ ]:
group_brooklyn.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_brooklyn.columns = ["Brooklyn: n° of payments"]
group_brooklyn

In [ ]:
barplot = group_brooklyn.plot(use_index = True, y = "Brooklyn: n° of payments", kind = "bar", figsize = (8, 4))

# February: Bronx

In [ ]:
group_bronx = group_data.get_group('Bronx')
group_bronx

In [ ]:
group_bronx.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_bronx.columns = ["Bronx: n° of payments"]
group_bronx

In [ ]:
barplot = group_bronx.plot(use_index = True, y = "Bronx: n° of payments", kind = "bar", figsize = (8, 4))

In [ ]:
#To check the relationship b/w Borough & payment type

pay_typ=final_feb['payment_type']
borough=final_feb['Borough']

# February: Chi^2 Test

In [ ]:
table = pd.crosstab(pay_typ,borough)
print(table)

In [ ]:
from scipy.stats import chi2_contingency
table.values

In [ ]:
#Chi-square test

table = pd.crosstab(pay_typ,borough)

from scipy.stats import chi2_contingency

chi2, p , dof, expected=chi2_contingency(table.values)

print('Chi-square Statistics: ', (chi2,p))

# March

In [ ]:
df3 = pd.read_csv('yellow_tripdata_2018-03.csv', usecols = ['payment_type','PULocationID'])
df3

In [ ]:
# Merging the 2 tables by location id key to get borough.

final_mar=df.set_index('PULocationID').join(df3.set_index('LocationID'))
del df3
final_mar

In [ ]:
#Cleaning: Removing all the values containing unknown

final_mar = final_mar[final_mar.Borough != 'Unknown']
final_mar

In [ ]:
#What is the most common way of payments

counts1 = final_mar['payment_type'].value_counts().to_dict()
counts1

#Credit Card(5996737)

In [ ]:
final_mar['COUNTER'] = 1
final_mar

In [ ]:
#Discover the way payments are executed in each borough
#initially, set that counter to 1.
group_data = final_mar.groupby(['payment_type','Borough']).sum() #sum function
print(group_data)

In [ ]:
group_data.columns = ["NY: n° of payments"]
barplot = group_data.plot(use_index = True, y = "NY: n° of payments", kind = "bar", figsize = (15, 8))

In [ ]:
group_data = group_data.groupby(['Borough'])

# March: EWR

In [ ]:
group_ewr = group_data.get_group('EWR')
group_ewr

In [ ]:
group_ewr.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_ewr.columns = ["EWR: n° of payments"]
group_ewr

In [ ]:
barplot = group_ewr.plot(use_index = True, y = "EWR: n° of payments", kind = "bar", figsize = (8, 4))

# March: Queens

In [ ]:
group_queens = group_data.get_group('Queens')
group_queens

In [ ]:
group_queens.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_queens.columns = ["Queens: n° of payments"]
group_queens

In [ ]:
barplot = group_queens.plot(use_index = True, y = "Queens: n° of payments", kind = "bar", figsize = (8, 4))

# March: Manhattan

In [ ]:
group_manhattan = group_data.get_group('Manhattan')
group_manhattan

In [ ]:
group_manhattan.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_manhattan.columns = ["Manhattan: n° of payments"]
group_manhattan

In [ ]:
barplot = group_manhattan.plot(use_index = True, y = "Manhattan: n° of payments", kind = "bar", figsize = (8, 4))

# March: Staten Island

In [ ]:
group_statenisland = group_data.get_group('Staten Island')
group_statenisland

In [ ]:
group_statenisland.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_statenisland.columns = ["Staten Island: n° of payments"]
group_statenisland

In [ ]:
barplot = group_statenisland.plot(use_index = True, y = "Staten Island: n° of payments", kind = "bar", figsize = (8, 4))

# March: Brooklyn

In [ ]:
group_brooklyn = group_data.get_group('Brooklyn')
group_brooklyn

In [ ]:
group_brooklyn.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_brooklyn.columns = ["Brooklyn: n° of payments"]
group_brooklyn

In [ ]:
barplot = group_brooklyn.plot(use_index = True, y = "Brooklyn: n° of payments", kind = "bar", figsize = (8, 4))

# March: Bronx

In [ ]:
group_bronx = group_data.get_group('Bronx')
group_bronx

In [ ]:
group_bronx.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_bronx.columns = ["Bronx: n° of payments"]
group_bronx

In [ ]:
barplot = group_bronx.plot(use_index = True, y = "Bronx: n° of payments", kind = "bar", figsize = (8, 4))

In [ ]:
#To check the relationship b/w Borough & payment type

pay_typ=final_mar['payment_type']
borough=final_mar['Borough']

# March: Chi^2 Test

In [ ]:
table = pd.crosstab(pay_typ,borough)
print(table)

In [ ]:
from scipy.stats import chi2_contingency
table.values

In [ ]:
#Chi-square test

table = pd.crosstab(pay_typ,borough)

from scipy.stats import chi2_contingency

chi2, p , dof, expected=chi2_contingency(table.values)

print('Chi-square Statistics: ', (chi2,p))

# April

In [ ]:
df4 = pd.read_csv('yellow_tripdata_2018-04.csv', usecols = ['payment_type','PULocationID'])
df4

In [ ]:
# Merging the 2 tables by location id key to get borough.

final_apr=df.set_index('PULocationID').join(df4.set_index('LocationID'))
del df4
final_apr

In [ ]:
#Cleaning: Removing all the values containing unknown

final_apr = final_apr[final_apr.Borough != 'Unknown']
final_apr

In [ ]:
#What is the most common way of payments

counts1 = final_apr['payment_type'].value_counts().to_dict()
counts1

#Credit Card(5996737)

In [ ]:
final_apr['COUNTER'] = 1
final_apr

In [ ]:
#Discover the way payments are executed in each borough
#initially, set that counter to 1.
group_data = final_apr.groupby(['payment_type','Borough']).sum() #sum function
print(group_data)

In [ ]:
group_data.columns = ["NY: n° of payments"]
barplot = group_data.plot(use_index = True, y = "NY: n° of payments", kind = "bar", figsize = (15, 8))

In [ ]:
group_data = group_data.groupby(['Borough'])

# April: EWR

In [ ]:
group_ewr = group_data.get_group('EWR')
group_ewr

In [ ]:
group_ewr.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_ewr.columns = ["EWR: n° of payments"]
group_ewr

In [ ]:
barplot = group_ewr.plot(use_index = True, y = "EWR: n° of payments", kind = "bar", figsize = (8, 4))

# April: Queens

In [ ]:
group_queens = group_data.get_group('Queens')
group_queens

In [ ]:
group_queens.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_queens.columns = ["Queens: n° of payments"]
group_queens

In [ ]:
barplot = group_queens.plot(use_index = True, y = "Queens: n° of payments", kind = "bar", figsize = (8, 4))

# April: Manhattan

In [ ]:
group_manhattan = group_data.get_group('Manhattan')
group_manhattan

In [ ]:
group_manhattan.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_manhattan.columns = ["Manhattan: n° of payments"]
group_manhattan

In [ ]:
barplot = group_manhattan.plot(use_index = True, y = "Manhattan: n° of payments", kind = "bar", figsize = (8, 4))

# April: Staten Island

In [ ]:
group_statenisland = group_data.get_group('Staten Island')
group_statenisland

In [ ]:
group_statenisland.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_statenisland.columns = ["Staten Island: n° of payments"]
group_statenisland

In [ ]:
barplot = group_statenisland.plot(use_index = True, y = "Staten Island: n° of payments", kind = "bar", figsize = (8, 4))

# April: Brooklyn

In [ ]:
group_brooklyn = group_data.get_group('Brooklyn')
group_brooklyn

In [ ]:
group_brooklyn.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_brooklyn.columns = ["Brooklyn: n° of payments"]
group_brooklyn

In [ ]:
barplot = group_brooklyn.plot(use_index = True, y = "Brooklyn: n° of payments", kind = "bar", figsize = (8, 4))

# April: Bronx

In [ ]:
group_bronx = group_data.get_group('Bronx')
group_bronx

In [ ]:
group_bronx.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_bronx.columns = ["Bronx: n° of payments"]
group_bronx

In [ ]:
barplot = group_bronx.plot(use_index = True, y = "Bronx: n° of payments", kind = "bar", figsize = (8, 4))

In [ ]:
#To check the relationship b/w Borough & payment type

pay_typ=final_apr['payment_type']
borough=final_apr['Borough']

# April: Chi^2 Test

In [ ]:
table = pd.crosstab(pay_typ,borough)
print(table)

In [ ]:
from scipy.stats import chi2_contingency
table.values

In [ ]:
#Chi-square test

table = pd.crosstab(pay_typ,borough)

from scipy.stats import chi2_contingency

chi2, p , dof, expected=chi2_contingency(table.values)

print('Chi-square Statistics: ', (chi2,p))

# May

In [ ]:
df5 = pd.read_csv('yellow_tripdata_2018-05.csv', usecols = ['payment_type','PULocationID'])
df5

In [ ]:
# Merging the 2 tables by location id key to get borough.

final_may=df.set_index('PULocationID').join(df5.set_index('LocationID'))
del df5
final_may

In [ ]:
#Cleaning: Removing all the values containing unknown

final_may= final_may[final_may.Borough != 'Unknown']
final_may

In [ ]:
#What is the most common way of payments

counts1 = final_may['payment_type'].value_counts().to_dict()
counts1

#Credit Card(5996737)

In [ ]:
final_may['COUNTER'] = 1
final_may

In [ ]:
#Discover the way payments are executed in each borough
#initially, set that counter to 1.
group_data = final_may.groupby(['payment_type','Borough']).sum() #sum function
print(group_data)

In [ ]:
group_data.columns = ["NY: n° of payments"]
barplot = group_data.plot(use_index = True, y = "NY: n° of payments", kind = "bar", figsize = (15, 8))

In [ ]:
group_data = group_data.groupby(['Borough'])

# May: EWR

In [ ]:
group_ewr = group_data.get_group('EWR')
group_ewr

In [ ]:
group_ewr.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_ewr.columns = ["EWR: n° of payments"]
group_ewr

In [ ]:
barplot = group_ewr.plot(use_index = True, y = "EWR: n° of payments", kind = "bar", figsize = (8, 4))

# May: Queens

In [ ]:
group_queens = group_data.get_group('Queens')
group_queens

In [ ]:
group_queens.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_queens.columns = ["Queens: n° of payments"]
group_queens

In [ ]:
barplot = group_queens.plot(use_index = True, y = "Queens: n° of payments", kind = "bar", figsize = (8, 4))

# May: Manhattan

In [ ]:
group_manhattan = group_data.get_group('Manhattan')
group_manhattan

In [ ]:
group_manhattan.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_manhattan.columns = ["Manhattan: n° of payments"]
group_manhattan

In [ ]:
barplot = group_manhattan.plot(use_index = True, y = "Manhattan: n° of payments", kind = "bar", figsize = (8, 4))

# May: Staten Island

In [ ]:
group_statenisland = group_data.get_group('Staten Island')
group_statenisland

In [ ]:
group_statenisland.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_statenisland.columns = ["Staten Island: n° of payments"]
group_statenisland

In [ ]:
barplot = group_statenisland.plot(use_index = True, y = "Staten Island: n° of payments", kind = "bar", figsize = (8, 4))

# May: Brooklyn

In [ ]:
group_brooklyn = group_data.get_group('Brooklyn')
group_brooklyn

In [ ]:
group_brooklyn.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_brooklyn.columns = ["Brooklyn: n° of payments"]
group_brooklyn

In [ ]:
barplot = group_brooklyn.plot(use_index = True, y = "Brooklyn: n° of payments", kind = "bar", figsize = (8, 4))

# May: Bronx

In [ ]:
group_bronx = group_data.get_group('Bronx')
group_bronx

In [ ]:
group_bronx.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_bronx.columns = ["Bronx: n° of payments"]
group_bronx

In [ ]:
barplot = group_bronx.plot(use_index = True, y = "Bronx: n° of payments", kind = "bar", figsize = (8, 4))

In [ ]:
#To check the relationship b/w Borough & payment type

pay_typ=final_may['payment_type']
borough=final_may['Borough']

# May: Chi^2 Test

In [ ]:
table = pd.crosstab(pay_typ,borough)
print(table)

In [ ]:
from scipy.stats import chi2_contingency
table.values

In [ ]:
#Chi-square test

table = pd.crosstab(pay_typ,borough)

from scipy.stats import chi2_contingency

chi2, p , dof, expected=chi2_contingency(table.values)

print('Chi-square Statistics: ', (chi2,p))

# June

In [ ]:
df6 = pd.read_csv('yellow_tripdata_2018-06.csv', usecols = ['payment_type','PULocationID'])
df6

In [ ]:
# Merging the 2 tables by location id key to get borough.

final_jun=df.set_index('PULocationID').join(df6.set_index('LocationID'))
del df6
final_jun

In [ ]:
#Cleaning: Removing all the values containing unknown

final_jun = final_jun[final_jun.Borough != 'Unknown']
final_jun

In [ ]:
#What is the most common way of payments

counts1 = final_jun['payment_type'].value_counts().to_dict()
counts1

#Credit Card(5996737)

In [ ]:
final_jun['COUNTER'] = 1
final_jun

In [ ]:
#Discover the way payments are executed in each borough
#initially, set that counter to 1.
group_data = final_jun.groupby(['payment_type','Borough']).sum() #sum function
print(group_data)

In [ ]:
group_data.columns = ["NY: n° of payments"]
barplot = group_data.plot(use_index = True, y = "NY: n° of payments", kind = "bar", figsize = (15, 8))

In [ ]:
group_data = group_data.groupby(['Borough'])

# June: EWR

In [ ]:
group_ewr = group_data.get_group('EWR')
group_ewr

In [ ]:
group_ewr.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_ewr.columns = ["EWR: n° of payments"]
group_ewr

In [ ]:
barplot = group_ewr.plot(use_index = True, y = "EWR: n° of payments", kind = "bar", figsize = (8, 4))

# June: Queens

In [ ]:
group_queens = group_data.get_group('Queens')
group_queens

In [ ]:
group_queens.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_queens.columns = ["Queens: n° of payments"]
group_queens

In [ ]:
barplot = group_queens.plot(use_index = True, y = "Queens: n° of payments", kind = "bar", figsize = (8, 4))

# June: Manhattan

In [ ]:
group_manhattan = group_data.get_group('Manhattan')
group_manhattan

In [ ]:
group_manhattan.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_manhattan.columns = ["Manhattan: n° of payments"]
group_manhattan

In [ ]:
barplot = group_manhattan.plot(use_index = True, y = "Manhattan: n° of payments", kind = "bar", figsize = (8, 4))

# June: Staten Island

In [ ]:
group_statenisland = group_data.get_group('Staten Island')
group_statenisland

In [ ]:
group_statenisland.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_statenisland.columns = ["Staten Island: n° of payments"]
group_statenisland

In [ ]:
barplot = group_statenisland.plot(use_index = True, y = "Staten Island: n° of payments", kind = "bar", figsize = (8, 4))

# June: Brooklyn

In [ ]:
group_brooklyn = group_data.get_group('Brooklyn')
group_brooklyn

In [ ]:
group_brooklyn.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_brooklyn.columns = ["Brooklyn: n° of payments"]
group_brooklyn

In [ ]:
barplot = group_brooklyn.plot(use_index = True, y = "Brooklyn: n° of payments", kind = "bar", figsize = (8, 4))

# June: Bronx

In [ ]:
group_bronx = group_data.get_group('Bronx')
group_bronx

In [ ]:
group_bronx.index = ["Credit card", "Cash", "No charge", "Dispute"]
group_bronx.columns = ["Bronx: n° of payments"]
group_bronx

In [ ]:
barplot = group_bronx.plot(use_index = True, y = "Bronx: n° of payments", kind = "bar", figsize = (8, 4))

In [ ]:
#To check the relationship b/w Borough & payment type

pay_typ=final_jun['payment_type']
borough=final_jun['Borough']

# June: Chi^2 Test

In [ ]:
table = pd.crosstab(pay_typ,borough)
print(table)

In [ ]:
from scipy.stats import chi2_contingency
table.values

In [ ]:
#Chi-square test

table = pd.crosstab(pay_typ,borough)

from scipy.stats import chi2_contingency

chi2, p , dof, expected=chi2_contingency(table.values)

print('Chi-square Statistics: ', (chi2,p))